.modal-backdrop {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-admin-content {
  background: azure;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 520px;
  position: relative;
 
}

.close-button {
  color: #9ca3af;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  line-height: 20px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close-button:hover,
.close-button:focus {
  color: #e5e7eb;
}

.sign-in-form {
    background: none;
}