.product-container ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

.no-products {
  text-align: center;
  color: #777;
  font-style: italic;
}
