.filter-container select {
    font-size: 16px;
    width: 200px;
    height: 30px;
    margin-left: 20px;
    color: black;
    background-color: white;
    border: 2px solid #000000;
    cursor: pointer;
}