.product-card {
    list-style-type: none;
    background-color: azure;
    padding: 10px;
    margin: 20px;
    border-radius: 1em;
    border: 2px solid #282c34;
}
.variants-container {
    margin-top: 10px;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #d2cfd6;
  margin: 10% auto;
  padding: 2rem;
  border: 1px solid rgba(84, 83, 86, 0.5);
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  position: relative;
  padding: 2rem 2rem 2rem 2rem;
}

.close {
  color: #9ca3af;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  line-height: 20px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close:hover,
.close:focus {
  color: #e5e7eb;
}

.active {
  border: 3px solid rgb(28, 33, 34);
  background-color: white;
}

#card-img {
  width: 95%;
  height: 95%;
  border-radius: 10px;
}