.qty-btn-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
    width: fit-content;
}

.qty-btn-container:hover {
    border: 1px solid #888;
}

.qty-btn-container button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.qty-btn-container button:hover {
    background-color: #f0f0f0;
}

.qty-btn-container p {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-left: 1px solid #ccc;    
    border-right: 1px solid #ccc;
}